<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
		  	<h5>About</h5> 
		</div>
		<div class="panel-body">
			I created this site to help others take their first steps in coding.
			My name is Luka Jacobowitz and I'm an aspiring programmer looking to become a force to be reckoned with.
			This site and all it's tutorials are fully open source, so if you understand a little bit about web development, 
			you can have a look at the code that created this website.
			You can find the source code <a href="https://github.com/LukaJCB/LearnProgramming">here</a>.
			<br/> <br/>
			I hope I can help at least a few people in making their first experience and hope to see a lot more people coding in the next few years. <br/>
			- Luka 
		</div>
	</div>
</div>