<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
		  	<h5>About</h5> 
		</div>
		<div class="panel-body">
			Here you'll learn all about your first steps in writing your own code.
			These tutorials are completely interactive and will allow you to make your first experiences in the Object-Oriented language TypeScript,
			which is very trending right now and can be used to program websites and webservers.
			Now know that you won't be making huge web applications, enterprise software or 3d games just yet. 
			These tutorials are aimed at the beginner, who hasn't written any single line of code yet.
			However if you've written one or two lines of code, you can still get quite a lot out of this.
			<br> <br/>
			Coding and programming is become more and more prevalent with the advances of the digital age. 
			Even if you don't want to explore a career in software development, coding is still a very good skill to have.
			Programming can also make you learn how to solve problems in a structured way and can be a good exercise for your brain.<br>
			But most of all, coding is fun! <br>
			So have fun and start programming!
			<br><br>
			<a href="#/beginner">Beginner Tutorials</a>
		</div>
	</div>
</div>