<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
		  	<h5>Beginner Tutorials</h5> 
		</div>
		<div class="panel-body">
			<div class="list-group">
				<a href="#/tutorial1" class="list-group-item">Tutorial 1 - Hello World</a>
				<a href="#/tutorial2" class="list-group-item">Tutorial 2 - Data types</a>
				<a href="#/tutorial3" class="list-group-item">Tutorial 3 - Data types (continued)</a>
				<a href="#/tutorial4" class="list-group-item">Tutorial 4 - Control flow</a>
				<a href="#/tutorial5" class="list-group-item">Tutorial 5 - Control flow (continued)</a>
				<a href="#/tutorial6" class="list-group-item">Tutorial 6 - Loops</a>
				<a href="#/tutorial7" class="list-group-item">Tutorial 7 - Loops (continued)</a>
				<a href="#/tutorial8" class="list-group-item">Tutorial 8 - Functions</a>
				<a href="#/tutorial9" class="list-group-item">Tutorial 9 - Classes and Objects</a>
			</div>	
		</div>
	</div>
</div>